<div class="header">

    <div class="header__container">
        
        <div class="header__brand">

            <img 
                class="header__brand__img"
                src="assets/images/udo-logo.png" 
                alt="udo-logo-color"
            />

            <div>
                <h1 class="header__brand__heading">sistema electoral electronico</h1>
            </div>

        </div>

        <button 
            *ngIf="showLogout"
            class="btn btn--primary btn--logout"
            (click)="onLogout()">
            LOG OUT
        </button>
    
    </div>
</div>