<div class="header">

    <div class="header__container">
        
        <div class="header__brand">

            <img 
                class="header__brand__img"
                src="assets/images/udo-logo.png" 
                alt="udo-logo-color"
            />

            <div>
                <h1 class="header__brand__heading">sistema electoral electronico</h1>
            </div>

        </div>

        <div class="header__btn-container">

            <button 
                *ngIf="showAddPlates"
                class="btn btn--secondary btn--logout"
                [routerLink]="['/plates']">
                Plates
            </button>

            <button 
                *ngIf="showVote"
                class="btn btn--warning btn--logout"
                [routerLink]="['/vote']">
                Vote
            </button>

            <button 
                *ngIf="showLogout"
                class="btn btn--primary btn--logout"
                (click)="onLogout()">
                Log out
            </button>
            
        </div>
    
    </div>
</div>