<div class="header">

    <div class="header__container">
        
        <div class="header__brand">

            <a [routerLink]="['/home']" class="header__brand__heading">Voting App</a>

        </div>

        <div class="header__btn-container">

            <button 
                *ngIf="showAddPlates"
                class="btn btn--header"
                [routerLink]="['/plates']">
                Plates
            </button>

            <button
                *ngIf="showVote"
                class="btn btn--header"
                [routerLink]="['/vote']">
                Vote
            </button>

            <a
                href="https://github.com/rlopez2494/vote-app-angular"
                class="link link--github"
                target="_blank">

                <i class="fab fa-github"></i>
            </a>

            <a
                *ngIf="showLogout"
                (click)="onLogout()"
                class="header__logout">

                <i class="fas fa-sign-out-alt"></i>
            </a>
            
        </div>
    
    </div>
</div>