.header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    background: #1976d2;
    height: 65px;
    box-shadow: 1px 1px 5px;
}

.header__btn-container {
    display: flex;
    align-items: center;
}

.fa-sign-out-alt, .fa-github {
    font-size: 1.7rem;
    transition: color .2s;
    color: #fff;
    cursor: pointer;
    transition: background .1s;
    padding: 10px;
    border-radius: 50%;
}

.fa-sign-out-alt:hover, .fa-github:hover {
    background: rgba(0, 0, 0, .25);
}

.header__container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.header__brand {
    display: flex;
    align-items: center;
}

.header__brand__btn {
    display: none;
}

.header__nav {
    margin: auto 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.header__nav:hover {
    text-decoration: underline;
}

.header__brand__heading{
    width: 220px;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    .header {
        padding: 10px 0;
    }

    .header__nav {
        margin: 10px 0;
        font-weight: bold;
        text-decoration: underline;
    }

}

@media screen and (max-width: 820px) {
    .header__brand__btn {
        display: inline-block;
    }
}