<div class="plates">
    
    <app-plate-details
        *ngIf="showDetails"
        class="over"
        (close)="onDetailsClosed()"
        [plate]="plateDetails"
        (delete)="onSubmitDeletePlate($event)">
        
    </app-plate-details>

    <ng-container *ngFor="let plate of plates">
        
        <app-plate-item
            class="plate"
            [plate]="plate"
            (showPlate)="onDetailsShowed($event)">
        </app-plate-item>

    </ng-container>

    <app-plate-item 
        [addPlate]="true"
        [canAdd]="showPlates && (plates.length < 3)">
            
    </app-plate-item>

</div>