.plates {
    margin-top: 50px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 560px) {
    .plates {
        width: 90%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .plate {
        width: 100%
    }
}


