<div [formGroup]="form" class="plate-edit-body__container">

    <h2 class="plate-edit__body__heading">Directive Board</h2>

    <div 
        class="plate-edit__seat" 
        *ngIf="hasOwnProperty('president')"
    >

        <h4 class="plate-edit__seat__heading">President</h4>

            <div class="plate-edit__check-input">

                <div class="plate-edit__input-autocomplete">

                    <input 
                    type="text" 
                    name="president"
                    formControlName="president"
                    class="plate-edit__input"
                    (keyup)="searchUsers($event)"
                    placeholder="Ingrese CIV..."
                    />

                    <ul 
                        *ngIf="(listToShow === 'president')" 
                        class="autocomplete"
                    >

                        <li 
                            *ngIf="loading"
                            class="autocomplete__item"   
                        >
                            
                            <div class="loading">
                                <i class="loading--1"></i>
                                <i class="loading--2"></i>
                            </div>
                        
                        </li>

                        <li 
                            *ngIf="!(listErrorHandling.hide)"
                            class="autocomplete__item autocomplete__item--error-message"   
                        >

                            <p class="autocomplete__item__center">
                                {{listErrorHandling.message}}
                            </p>
                        
                        </li>

                        <li 
                            *ngFor="let user of users"
                            (click)="handleChange('president' , user['CIV'])"
                            class="autocomplete__item"
                        >
                            
                            <p class="autocomplete__item__left">
                                {{user.nombre}}
                            </p>

                            <p class="autocomplete__item__right">
                                {{user.CIV}}
                            </p>

                            
                        
                        </li>

                    </ul>

                </div>
        

            <div 
                class="signal"
                [ngClass]="{
                    'signal--success': signalToCheck.president === 'success',
                    'signal--waiting': signalToCheck.president === 'waiting',
                    'signal--warning': signalToCheck.president === 'warning'
                }">
                
            </div>
        </div>

    </div>  


    <div 
        class="plate-edit__seat" 
        *ngIf="hasOwnProperty('vicepresident')"
    >

        <h4 class="plate-edit__seat__heading">Vicepresident</h4>

        <div class="plate-edit__check-input">

            <div class="plate-edit__input-autocomplete">

                <input 
                type="text" 
                name="vicepresident"
                formControlName="vicepresident"
                class="plate-edit__input"
                (keyup)="searchUsers($event)"
                placeholder="Ingrese CIV..."
                />

                <ul 
                    *ngIf="((listToShow === 'vicepresident'))" 
                    class="autocomplete"
                >

                    <li 
                        *ngIf="loading"
                        class="autocomplete__item"   
                    >
                        
                        <div class="loading">
                            <i class="loading--1"></i>
                            <i class="loading--2"></i>
                        </div>
                    
                    </li>

                    <li 
                        *ngIf="!(listErrorHandling.hide)"
                        class="autocomplete__item autocomplete__item--error-message"   
                    >

                        <p class="autocomplete__item__center">
                            {{listErrorHandling.message}}
                        </p>
                    
                    </li>

                    <li 
                        *ngFor="let user of users"
                        (click)="handleChange('vicepresident' , user['CIV'])"
                        class="autocomplete__item"   
                    >
                        
                        <p class="autocomplete__item__right">
                            {{user.CIV}}
                        </p>

                        <p class="autocomplete__item__left">
                            {{user.nombre}}
                        </p>
                    
                    </li>

                </ul>

            </div>

            <div 
                class="signal"
                [ngClass]="{
                    'signal--success': signalToCheck.vicepresident === 'success',
                    'signal--waiting': signalToCheck.vicepresident === 'waiting',
                    'signal--warning': signalToCheck.vicepresident === 'warning'
                }">
                </div>
        </div>

    </div>


    <div 
        class="plate-edit__seat"
        *ngIf="hasOwnProperty('treasurer')"
    >

        <h4 class="plate-edit__seat__heading">Treasuser</h4>

        <div class="plate-edit__check-input">

            <div class="plate-edit__input-autocomplete">

                <input 
                type="text" 
                name="treasurer"
                formControlName="treasurer"
                class="plate-edit__input"
                (keyup)="searchUsers($event)"
                placeholder="Ingrese CIV..."
                />

                <ul 
                    *ngIf="((listToShow === 'treasurer'))" 
                    class="autocomplete"
                >

                    <li 
                        *ngIf="loading"
                        class="autocomplete__item"   
                    >
                        
                        <div class="loading">
                            <i class="loading--1"></i>
                            <i class="loading--2"></i>
                        </div>
                    
                    </li>

                    <li 
                        *ngIf="!(listErrorHandling.hide)"
                        class="autocomplete__item autocomplete__item--error-message"   
                    >

                        <p class="autocomplete__item__center">
                            {{listErrorHandling.message}}
                        </p>
                    
                    </li>

                    <li 
                        *ngFor="let user of users"
                        (click)="handleChange('treasurer' , user['CIV'])"
                        class="autocomplete__item"   
                    >
                        
                        <p class="autocomplete__item__right">
                            {{user.CIV}}
                        </p>

                        <p class="autocomplete__item__left">
                            {{user.nombre}}
                        </p>
                    
                    </li>

                </ul>

            </div>

            <div 
                class="signal"
                [ngClass]="{
                    'signal--success': signalToCheck.treasurer === 'success',
                    'signal--waiting': signalToCheck.treasurer === 'waiting',
                    'signal--warning': signalToCheck.treasurer === 'warning'
                }">
                </div>
        </div>

    </div>


    <div 
        class="plate-edit__seat"
        *ngIf="hasOwnProperty('generalSecretary')"
    >

        <h4 class="plate-edit__seat__heading">General Secretary</h4>

        <div class="plate-edit__check-input">

            <div class="plate-edit__input-autocomplete">

                <input 
                type="text" 
                name="generalSecretary"
                formControlName="generalSecretary"
                class="plate-edit__input"
                (keyup)="searchUsers($event)"
                placeholder="Ingrese CIV..."
                />

                <ul 
                    *ngIf="((listToShow === 'generalSecretary'))" 
                    class="autocomplete"
                >

                    <li 
                        *ngIf="loading"
                        class="autocomplete__item"   
                    >
                        
                        <div class="loading">
                            <i class="loading--1"></i>
                            <i class="loading--2"></i>
                        </div>
                    
                    </li>

                    <li 
                        *ngIf="!(listErrorHandling.hide)"
                        class="autocomplete__item autocomplete__item--error-message"   
                    >

                        <p class="autocomplete__item__center">
                            {{listErrorHandling.message}}
                        </p>
                    
                    </li>

                    <li 
                        *ngFor="let user of users"
                        (click)="handleChange('generalSecretary' , user['CIV'])"
                        class="autocomplete__item"   
                    >
                        
                        <p class="autocomplete__item__right">
                            {{user.CIV}}
                        </p>

                        <p class="autocomplete__item__left">
                            {{user.nombre}}
                        </p>
                    
                    </li>

                </ul>

            </div>

            <div 
                class="signal"
                [ngClass]="{
                    'signal--success': signalToCheck.generalSecretary === 'success',
                    'signal--waiting': signalToCheck.generalSecretary === 'waiting',
                    'signal--warning': signalToCheck.generalSecretary === 'warning'
                }">
                </div>
        </div>

    </div>

</div>