<div [formGroup]="form" class="plate-edit-body__container">

    <h2 class="plate-edit__body__heading">Directive Board</h2>

    <div 
        class="plate-edit__seat" 
        *ngIf="hasOwnProperty('president')"
    >

        <div class="plate-edit__seat-flex">

            <h4 class="plate-edit__seat__heading">President</h4>

            <div class="plate-edit__check-input">

                <div class="plate-edit__input-autocomplete">

                    <input 
                    type="text" 
                    name="president"
                    formControlName="president"
                    class="plate-edit__input"
                    (keyup)="searchUsers($event)"
                    placeholder="Ingrese CIV..."
                    />
                    
                    <ul 
                        *ngIf="(listToShow === 'president')" 
                        class="autocomplete"
                    >

                        <li 
                            *ngIf="loading"
                            class="autocomplete__item"   
                        >
                            
                            <div class="loading">
                                <i class="loading--1"></i>
                                <i class="loading--2"></i>
                            </div>
                        
                        </li>

                        <li 
                            *ngIf="!(listErrorHandling.hide)"
                            class="autocomplete__item autocomplete__item--error-message"   
                        >

                            <p class="autocomplete__item__center">
                                {{listErrorHandling.message}}
                            </p>
                        
                        </li>

                        <li 
                            *ngFor="let user of users"
                            (click)="handleChange('president' , user['CIV'])"
                            class="autocomplete__item"
                        >
                            
                            <p class="autocomplete__item__left">
                                {{user.name}}
                            </p>

                            <p class="autocomplete__item__right">
                                {{user.CIV}}
                            </p>

                            
                        
                        </li>

                    </ul>

                </div>
        

                <div 
                    class="signal"
                    [ngClass]="{
                        'signal--success': form.get('president').valid,
                        'signal--waiting': form.get('president').status === 'PENDING',
                        'signal--warning': form.get('president').touched && form.get('president').errors
                    }">
                    
                </div>

            </div>

        </div>

        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('president').touched 
            && form.get('president').errors 
            && form.get('president').errors['required']">
        Required field 
        </p>
        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('president').touched 
            && form.get('president').errors 
            && form.get('president').errors['userNotRegistered']">
        User not registered
        </p>
        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('president').touched 
            && form.get('president').errors 
            && form.get('president').errors['registeredAsCandidate']">
        User is already a candidate
        </p>

    </div>  

    


    <div 
        class="plate-edit__seat" 
        *ngIf="hasOwnProperty('vicepresident')"
    >

        <div class="plate-edit__seat-flex">
            <h4 class="plate-edit__seat__heading">Vicepresident</h4>

            <div class="plate-edit__check-input">
    
                <div class="plate-edit__input-autocomplete">
    
                    <input 
                    type="text" 
                    name="vicepresident"
                    formControlName="vicepresident"
                    class="plate-edit__input"
                    (keyup)="searchUsers($event)"
                    placeholder="Ingrese CIV..."
                    />
    
                    <ul 
                        *ngIf="((listToShow === 'vicepresident'))" 
                        class="autocomplete"
                    >
    
                        <li 
                            *ngIf="loading"
                            class="autocomplete__item"   
                        >
                            
                            <div class="loading">
                                <i class="loading--1"></i>
                                <i class="loading--2"></i>
                            </div>
                        
                        </li>
    
                        <li 
                            *ngIf="!(listErrorHandling.hide)"
                            class="autocomplete__item autocomplete__item--error-message"   
                        >
    
                            <p class="autocomplete__item__center">
                                {{listErrorHandling.message}}
                            </p>
                        
                        </li>
    
                        <li 
                            *ngFor="let user of users"
                            (click)="handleChange('vicepresident' , user['CIV'])"
                            class="autocomplete__item"   
                        >
                            
                            <p class="autocomplete__item__right">
                                {{user.CIV}}
                            </p>
    
                            <p class="autocomplete__item__left">
                                {{user.name}}
                            </p>
                        
                        </li>
    
                    </ul>
    
                </div>
    
                <div 
                    class="signal"
                    [ngClass]="{
                        'signal--success': form.get('vicepresident').valid,
                        'signal--waiting': form.get('vicepresident').status === 'PENDING',
                        'signal--warning': form.get('vicepresident').touched && form.get('vicepresident').errors
                    }">
                    </div>
            </div>
        </div>

        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('vicepresident').touched 
            && form.get('vicepresident').errors 
            && form.get('vicepresident').errors['required']">
        Required field 
        </p>
        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('vicepresident').touched 
            && form.get('vicepresident').errors 
            && form.get('vicepresident').errors['userNotRegistered']">
        User not registered
        </p>
        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('vicepresident').touched 
            && form.get('vicepresident').errors 
            && form.get('vicepresident').errors['registeredAsCandidate']">
        User is already a candidate
        </p>

    </div>


    <div 
        class="plate-edit__seat"
        *ngIf="hasOwnProperty('treasurer')"
    >

        <div class="plate-edit__seat-flex">

            <h4 class="plate-edit__seat__heading">Treasuser</h4>

            <div class="plate-edit__check-input">
    
                <div class="plate-edit__input-autocomplete">
    
                    <input 
                    type="text" 
                    name="treasurer"
                    formControlName="treasurer"
                    class="plate-edit__input"
                    (keyup)="searchUsers($event)"
                    placeholder="Ingrese CIV..."
                    />
    
                    <ul 
                        *ngIf="((listToShow === 'treasurer'))" 
                        class="autocomplete"
                    >
    
                        <li 
                            *ngIf="loading"
                            class="autocomplete__item"   
                        >
                            
                            <div class="loading">
                                <i class="loading--1"></i>
                                <i class="loading--2"></i>
                            </div>
                        
                        </li>
    
                        <li 
                            *ngIf="!(listErrorHandling.hide)"
                            class="autocomplete__item autocomplete__item--error-message"   
                        >
    
                            <p class="autocomplete__item__center">
                                {{listErrorHandling.message}}
                            </p>
                        
                        </li>
    
                        <li 
                            *ngFor="let user of users"
                            (click)="handleChange('treasurer' , user['CIV'])"
                            class="autocomplete__item"   
                        >
                            
                            <p class="autocomplete__item__right">
                                {{user.CIV}}
                            </p>
    
                            <p class="autocomplete__item__left">
                                {{user.name}}
                            </p>
                        
                        </li>
    
                    </ul>
    
                </div>
    
                <div 
                    class="signal"
                    [ngClass]="{
                        'signal--success': form.get('treasurer').valid,
                        'signal--waiting': form.get('treasurer').status === 'PENDING',
                        'signal--warning': form.get('treasurer').touched && form.get('treasurer').errors
                    }">
                    </div>
            </div>

        </div>

        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('treasurer').touched 
            && form.get('treasurer').errors 
            && form.get('treasurer').errors['required']">
        Required field 
        </p>
        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('treasurer').touched 
            && form.get('treasurer').errors 
            && form.get('treasurer').errors['userNotRegistered']">
        User not registered
        </p>
        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('treasurer').touched 
            && form.get('treasurer').errors 
            && form.get('treasurer').errors['registeredAsCandidate']">
        User is already a candidate
        </p>

    </div>




    <div 
        class="plate-edit__seat"
        *ngIf="hasOwnProperty('generalSecretary')"
    >

        <div class="plate-edit__seat-flex">

            <h4 class="plate-edit__seat__heading">General Secretary</h4>

            <div class="plate-edit__check-input">
    
                <div class="plate-edit__input-autocomplete">
    
                    <input 
                    type="text" 
                    name="generalSecretary"
                    formControlName="generalSecretary"
                    class="plate-edit__input"
                    (keyup)="searchUsers($event)"
                    placeholder="Ingrese CIV..."
                    />
    
                    <ul 
                        *ngIf="((listToShow === 'generalSecretary'))" 
                        class="autocomplete"
                    >
    
                        <li 
                            *ngIf="loading"
                            class="autocomplete__item"   
                        >
                            
                            <div class="loading">
                                <i class="loading--1"></i>
                                <i class="loading--2"></i>
                            </div>
                        
                        </li>
    
                        <li 
                            *ngIf="!(listErrorHandling.hide)"
                            class="autocomplete__item autocomplete__item--error-message"   
                        >
    
                            <p class="autocomplete__item__center">
                                {{listErrorHandling.message}}
                            </p>
                        
                        </li>
    
                        <li 
                            *ngFor="let user of users"
                            (click)="handleChange('generalSecretary' , user['CIV'])"
                            class="autocomplete__item"   
                        >
                            
                            <p class="autocomplete__item__right">
                                {{user.CIV}}
                            </p>
    
                            <p class="autocomplete__item__left">
                                {{user.name}}
                            </p>
                        
                        </li>
    
                    </ul>
    
                </div>
    
                <div 
                    class="signal"
                    [ngClass]="{
                        'signal--success': form.get('generalSecretary').valid,
                        'signal--waiting': form.get('generalSecretary').status === 'PENDING',
                        'signal--warning': form.get('generalSecretary').touched && form.get('generalSecretary').errors
                    }">
                    </div>
            </div>

        </div>

        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('generalSecretary').touched 
            && form.get('generalSecretary').errors 
            && form.get('generalSecretary').errors['required']">
        Required field 
        </p>

        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('generalSecretary').touched 
            && form.get('generalSecretary').errors 
            && form.get('generalSecretary').errors['userNotRegistered']">
        User not registered
        </p>

        <p 
            class="plate-edit__input-error" 
            *ngIf="form.get('generalSecretary').touched 
            && form.get('generalSecretary').errors 
            && form.get('generalSecretary').errors['registeredAsCandidate']">
        User is already a candidate
        </p>

    </div>

</div>