<div class="plate">

    <div 
        class="plate-add"
        *ngIf="(addPlate)"
        (click)="onAddPlate()"
    >
        <div class="plate-add__container">

            <h1 class="plate-add__heading">Add plate</h1>

        </div>

    </div>

    <div class="plate__up">

        <div class="plate__img-container">
            <img 
                src="assets/images/plate-img.png"
                alt="perfil" 
                class="plate__img"
            /> 
        </div>
        
        <ul class="plate__bodies">
        
            <li class="plate__body">
                <h5>Directive Board</h5>
                <div class="plate__body--success"></div>
            </li>

            <li class="plate__body">
                <h5>Disciplinary Court</h5>
                <div class="plate__body--success"></div>
            </li>

            <li class="plate__body">
                <h5>District Directive Board</h5>
                <div class="plate__body--success"></div>
            </li>

        </ul>
            
    </div>
    <div class="plate__down">
        <h2 class="plate__presentation">Validated</h2>
        <button 
            class="plate__presentation__btn" 
            (click)="onShowDetails()"
        >Open...</button>
    </div>

</div>
