<div class="vote">

    <div class="over" *ngIf="!(data.length > 1) && !isLoading">
        <div class="alert-modal">
            <p class="alert-modal__paragraph">There are no plates already registered, please register at least two of them</p>
            <div class="btn-container btn-container--left">
                <button class="btn btn--secondary" [routerLink]="['/home']">
                    Go to home
                </button>
            </div>
        </div>
    </div>

    <form 
        class="vote__form"
        [formGroup]="voteSubmission"
        (ngSubmit)="onVoteSubmit()"
        *ngIf="(data.length > 1)">
        
        <app-organo 
            *ngFor="let body of bodies"
            [body]="body"
            [formGroupName]="setBodyName(body.name)"
            [bodyName]="setBodyName(body.name)">
        </app-organo>

        <div class="vote__buttons">

            <button
                class="btn plate-edit__btn plate-edit__btn--primary"
                type="submit"
                [disabled]="(!voteSubmission.dirty)"
                >VOTE
            </button>
        
            <button 
                type="button"
                class="btn plate-edit__btn plate-edit__btn--warning"
                (click)="clearVote()"
                >CLEAR
            </button>
    
        </div>
    </form>
    
</div>

