<div class="plate-edit__details">

    <h3 class="plate-edit__plate-heading">CONFIRM</h3>      

    <div 
        class="plate-edit__body-details"
        *ngFor="let bodyName of bodyNames">

        <div class="plate-edit__details-highlight">
            <i class="fas fa-university"></i>
            <h4 *ngIf='bodyName === "directiveBoard"'>Directive Board</h4>
            <h4 *ngIf='bodyName === "districtDirectiveBoard"'>District Directive Board</h4>
            <h4 *ngIf='bodyName === "disciplinaryCourt"'>Disciplinary Court</h4>
        </div>
        
        <ul class="plate-edit__list">                 
            
            <ng-container *ngFor="let seat of getSeats(bodyName)">
                <li 
                class="plate-edit__list-item"
                *ngIf="!(seat === '_id')">

                <p class="plate-edit__seat plate-edit__seat--key" *ngIf="seat === 'president'">President:</p>
                <p class="plate-edit__seat plate-edit__seat--key" *ngIf="seat === 'vicepresident'">Vicepresident:</p>
                <p class="plate-edit__seat plate-edit__seat--key" *ngIf="seat === 'treasurer'">Treasurer:</p>
                <p class="plate-edit__seat plate-edit__seat--key" *ngIf="seat === 'generalSecretary'">General Secretary:</p>

                <p 
                    class="plate-edit__seat plate-edit__seat--value">{{plateInput[bodyName][seat].user.name}}  ({{plateInput[bodyName][seat].user['CIV']}})</p>

                </li>
            </ng-container>
            
                    
        </ul>

    </div>
    
    <div class="plate-edit__btn-container">

        <button 
            type="submit"
            *ngIf="(locationUrl === '/plates/plateEdit')" 
            class="btn plate-edit__btn plate-edit__btn--primary"
        >Save</button>

        <button
            class="btn plate-edit__btn plate-edit__btn--primary"
            (click)="onCloseDetails()"
        >Close</button>

        <button
            class="btn plate-edit__btn plate-edit__btn--warning"
            (click)="onDeletePlate()"
            *ngIf="(locationUrl === '/plates')"
        >Delete</button>

    </div>

</div>  

