/* -----------------------Plate Details------------------------ */

.plate-edit__details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 411px;
    background: white;
    display: flex;
    flex-direction: column;
    font-size: 1.05rem;
}

.plate-edit__details__heading {
    background: #1A7AAB;
    font-weight: bold;
    margin:0;
    height: 60px;
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plate-edit__list {
    margin: 15px;
}

.plate-edit__list-item {
    margin: 10px;
}

.plate-edit__details__highlight {
    display: flex;
}

.plate-edit__details__body {
    padding: 20px 30px;
}
.plate-edit__details__body:nth-child(even) {
    background: #1B252B;
    color: white;
}
.plate-edit__details__body:nth-child(odd) {
    background: #CFCFCF;
}
.plate-edit__details__body h5:first-child {
    color: #03A50E;
    margin-right: 5px;
}