<div [formGroup]="form" class="body">

    <h1 class="body__heading">{{body.name}}</h1>

    <div class="body__container">

        <div class="body__head">

            <ul>
                <li class="list list--head">President</li>
                <li class="list list--head">Vicepresident</li>
                <li class="list list--head" *ngIf="body.name !== 'Disciplinary Court'">Treasurer</li>
                <li class="list list--head">General Secretary</li>
            </ul>

        </div>

        <!-- Swipe buttons with absolute position -->

        <button 
            type="button" 
            class="btn-arrow btn-arrow--left"
            (click)="swipe('left')">
            <i class="fas fa-chevron-left"></i>
        </button>

        <button 
            type="button" 
            class="btn-arrow btn-arrow--right"
            (click)="swipe('right')">
            <i class="fas fa-chevron-right"></i>
        </button>

        <!--  -->
            
        <div 
            class="body__plates"
            #bodyPlates>
          
            <ul 
            class="body__plate"
            *ngFor="let plate of body.plates; let i = index">

                <li class="list list--select-all">
                    <p>SELECT ALL</p>
                    <input 
                        type="radio"
                        class="radio radio--select-all"
                        formControlName="plateSelected" 
                        (click)="onSelectPlate(i)"
                        [value]="i"
                    />
                </li>

                <li class="list list--plate-number">
                    <h5 class="heading heading--plate-number">{{i}}</h5>
                </li>

                
                <li 
                    class="list list--candidate"
                    *ngFor="let seat of seatNames">

                    <p>{{body.plates[i][seat].user.name}}</p>
                    
                    <input 
                        type="radio" 
                        class="radio radio--candidates"
                        [formControlName]="seat"
                        [value]="body.plates[i][seat]._id"
                    />

                </li>

            </ul>
            
        </div>

    </div>

</div>