<div [formGroup]="form" class="organo">

    <h1>{{body.name}}</h1>

    <div class="organo__choices">

        <div class="organo__HEAD">

            <ul>
                <li>President</li>
                <li>Vicepresident</li>
                <li *ngIf="body.name !== 'Disciplinary Court'">Treasurer</li>
                <li>General Secretary</li>
                    
                <li>
                    <p>1er. Vocal</p>
                    <p>2do. Vocal</p>
                    <p>3er.Vocal</p>
                </li>
            </ul>

        </div>
        
        <div 
            class="organo__plancha"
            *ngFor="let plate of body.plates; let i = index">
            
            <ul>

                <li>
                    <p>SELECT ALL</p>
                    <input 
                        type="radio"
                        formControlName="plateSelected" 
                        (click)="onSelectPlate(i)"
                        [value]="i"
                    />
                </li>

                <li>
                    <h5>PLANCHA N {{i}}</h5>
                </li>

                
                <li *ngFor="let seat of seatNames">
                    <p>{{body.plates[i][seat].user.name}}</p>
                    
                    <input 
                        type="radio" 
                        [formControlName]="seat"
                        [value]="body.plates[i][seat]._id"
                    />
                </li>
           

                <li>
                    <h5>PARTY LIST</h5>
                    <input type="radio"/>
                </li>

            </ul>

        </div>

    </div>

</div>