.body {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body__heading {
    text-align: center;
    text-transform: uppercase;
}

.body__container {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
    justify-content: center;
    position: relative;
}

.btn-arrow {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 80px;
    border: none;
    outline: none;
    z-index: 10;
    transform: translate(0, -50%);
    display: none;
}

.btn-arrow--left {
    left: 183px;
    background: linear-gradient(to right, rgba(39, 39, 39, 1), rgba(39, 39, 39, 0));
}

.btn-arrow--right {
    right: 2px;
    background: linear-gradient(to left, rgba(39, 39, 39, 1), rgba(39, 39, 39, 0));
}

.fa-chevron-left {
    font-size: 1.4rem;
    color: #333;
}

.fa-chevron-right {
    font-size: 1.4rem;
    color: #333;
}



.radio {
    width: 40px;
    height: 25px;
    border-radius: 50%;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border: 1px solid #333;
    outline: none;
    transition: border .2s, background .2s;
}

.radio:checked {
    border: none;
    background: #333;
}

.body__head {
    width: 180px;
}

.body__plate {
    width: 300px;
    margin: 0 3px;
}

.list {
    border: 1px solid var(--grey-1);
    display: flex;
    align-items: center;
    background: var(--grey-9);
    height: 50px;
    font-weight: 600;
    margin: 5px 0;
    border: 1px solid grey;
}

.list--candidate, 
.list--select-all {
    justify-content: space-between;
    padding: 0 15px;
    background: #22AED1;
    color: #fff;
    width: 300px;
}

.list--plate-number {
    color: #333;
    justify-content: center;
    height: 40px;
    position: relative;
}

.list--head {
    display: flex;
    justify-content: center;
}

.body__plates {
    display: flex;
    width: 918px
}

@media screen and (max-width: 1730px) {
    .body {
        flex-direction: column;
    }

    .body__heading {
        margin-bottom: 30px;
    } 

}

@media screen and (max-width: 1230px) {
    .body__plates {
        display: flex;
        width: 612px;
        overflow-x: scroll;
    }

    .btn-arrow {
        display: inline;
    }
}

@media screen and (max-width: 930px) {
    .body__plates {
        width: 306px;
    }

    .body {
        padding: 50px 0;
    }
}





