.view {
    min-width: 200px;
    width: 20%;
}

.view, .view:visited {
    color: rgb(26, 26, 26);
    text-decoration: none;
    transition: transform .25s;
}

.view:hover {
    transform: scale(1.1);
    
}

.view__container {
    border: 2px solid #272727;
    border-radius: 3px;
    height: 250px;
    position: relative;
    box-shadow: 5px 5px 10px;
}

.view__heading {
    position: relative;
    bottom: 15px;
    font-size: 1.4rem;
    font-weight: 100;
    color: rgb(19, 19, 19);
}

.view__blur-shape--desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.6)
    );
    transition: opacity .25s;
    opacity: 1;
}

.view__blur-shape--mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9),
        rgba(255, 255, 255, 0)
    );
    transition: opacity .25s;
    opacity: 1;
    display: none;
}

.view__blur-shape--desktop:hover {
    opacity: .35;
}

img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1300px) {
    .view {
        width: 30%;
    }
}

@media only screen and (max-width: 690px) {
    
    .view {
        width: 100%;
        margin: 20px 0;
        position: relative;
        border: 1px solid grey;
        height: 80px; 
        width: 100%;
        transition: transform .25s;
    }

    .view:hover {
        transform: scaleY(1.1);
    }

    .half-screen--top {
        height: 60vh;
    }

    .half-screen--bottom {
        height: 40vh;
        padding-top: 0;
    }

    .view__container {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 5px;
        overflow: hidden;
    }

    .view__heading {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1.8rem;
        z-index: 10;
        color: #e7e7e7;
        margin-left: 20px;
    }

    .view__blur-shape--mobile:hover {
        opacity: .8;
    }

    .view__blur-shape--mobile {
        display: block;
    }
    .view__blur-shape--desktop {
        display: none;
    }

    img {
        width: 100%;
        height: 100%;
        transform: scaleY(5);
    }

}
