<div class="half-screen half-screen--top">

  <h2 class="half-screen__heading">Administrador</h2>

  <div class="flex-container vertical-center">
    
    <app-view-option
      [headingText]="'Registrar Usuario'"
      [imgSrc]="'assets/images/registro-usuario.png'"
    ></app-view-option>

    <app-view-option
      [headingText]="'Miembro de mesa'"
      [imgSrc]="'assets/images/miembro-mesa.png'"
    ></app-view-option>

    <app-view-option
      [headingText]="'Registrar plancha'"
      [imgSrc]="'assets/images/registro-plancha.png'"
    ></app-view-option>

  </div>

</div>

<div class="half-screen half-screen--bottom">

  <h2 class="half-screen__heading">Usuario</h2>

  <div class="flex-container vertical-center">
    
    <app-view-option
      [headingText]="'Realizar voto'"
      [imgSrc]="'assets/images/voto.png'"
    ></app-view-option>

    <app-view-option
      [headingText]="'Conteo de votos'"
      [imgSrc]="'assets/images/resultados.png'"
    ></app-view-option>

  </div>

</div>