.plate-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.plate-edit__form {
    width: 100%;
    margin: auto;
}

.plate-edit__plates {
    display: flex;
    flex-wrap: wrap;
}

.plate-edit__heading {
    color: #333;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.plate-edit__body {
    /* background: #1B252B; */ /*Just in case i want this previous color*/
    background: #1976d2;
    width: 770px;
    border: 1px solid #333;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin: 0 auto 30px auto;
}

.main-box {
    width: 95%;
    height: 100%;
    margin-top: 20px;
}

.plate-edit__btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.plate-edit__btn {
    background: #fff;
    color: #1976d2;
    border: none;
    margin-right: 50px;
    font-size: 1rem;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #333;
    transition: background .1s, 
        color .1s, 
        border-color .1s,
        box-shadow .1s;
    margin: 0 20px;
}

.plate-edit__btn--warning:hover {
    background: rgb(250, 46, 46);
    color: #fff;
}

.plate-edit__btn--primary:hover {
    background: #1A7AAB;
    color: #fff;
}

.block-center {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

/* -----------------------Plate Details------------------------ */

.plate-edit__details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 411px;
    background: white;
    display: flex;
    flex-direction: column;
    font-size: 1.05rem;
}

.plate-edit__details__heading {
    background: #1A7AAB;
    font-weight: bold;
    margin:0;
    height: 60px;
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plate-edit__details__body {
    padding: 20px 30px;
}

.plate-edit__details__body:nth-child(even) {
    background: #1B252B;
    color: white;
}
.plate-edit__details__body:nth-child(odd) {
    background: #CFCFCF;
}
.plate-edit__details__body h5:first-child {
    color: #03A50E;
    margin-right: 5px;
}

.plate-edit__details__highlight {
    display: flex;
}

.plate-edit__list {
    margin: 15px;
}

.plate-edit__list-item {
    margin: 10px;
}

.btn--confirm {
    margin: 15px 20px;
    padding: 15px 15px;
    font-size: .9rem;
}

@media screen and (max-height: 710px) {
    .plate-edit__details {
        height: 95%;
        overflow-y: scroll;
    }
}










