<div class="plate-edit main-box">

    <h1 class="plate-edit__heading">Plate Registration</h1>
    
    <form 
        class="plate-edit__form"
        [formGroup]="plateSubmission"
        (ngSubmit)="submitPlate()"
        autocomplete="off">

        <div class="over" *ngIf="showDetails">

            <div class="plate-edit__details">
    
                <h3 class="plate-edit__details__heading">CONFIRM</h3>      
            
                <div 
                class="plate-edit__details__body"
                *ngFor="let body of getShowcaseSeats()">
                    
                    <div 
                        class="plate-edit__details__highlight">
                        <h5>---</h5>
                        <h4 *ngIf="body === 'directiveBoard'">Directive Board</h4>
                        <h4 *ngIf="body === 'districtDirectiveBoard'">District Directive Board</h4>
                        <h4 *ngIf="body === 'disciplinaryCourt'">Disciplinary Court</h4>
                    </div>
            
                    <ul class="plate-edit__list">                 
                           
                        <li class="plate-edit__list-item">
                            <p>
                                <em>President: </em>
                                {{confirmPlate[body]['president'].name}} |
                                {{confirmPlate[body]['president'].CIV}}
                            </p>
                        </li>
                        <li class="plate-edit__list-item">
                            <p>
                                <em>Vicepresident: </em>
                                {{confirmPlate[body]['vicepresident'].name}} |
                                {{confirmPlate[body]['vicepresident'].CIV}}
                            </p>
                        </li>
                        <li 
                        class="plate-edit__list-item"
                        *ngIf="confirmPlate[body]['treasurer']">
                            <p>
                                <em>Treasurer: </em>
                                {{confirmPlate[body]['treasurer'].name}} |
                                {{confirmPlate[body]['treasurer'].CIV}}
                            </p>
                        </li>
                        <li class="plate-edit__list-item">
                            <p>
                                <em>General Secretary: </em>
                                {{confirmPlate[body]['generalSecretary'].name}} |
                                {{confirmPlate[body]['generalSecretary'].CIV}}
                            </p>
                        </li>
                              
                    </ul>
            
                </div>
            
                
                <div class="block-center">
            
                    <button 
                        type="submit"
                        class="btn plate-edit__btn plate-edit__btn--primary"
                    >Save</button>
            
                    <button
                        class="btn plate-edit__btn plate-edit__btn--warning"
                        (click)="closeDetails()"
                    >Close</button>
            
                </div>
                
            
            </div>

        </div>
 

        <div class="plate-edit__plates">

            <app-plate-edit-body 
                formGroupName="directiveBoard"
                class="plate-edit__body"
                [plateBody]="plateSubmission.value.directiveBoard"
                [bodyName]="'directiveBoard'">

            </app-plate-edit-body>

            <app-plate-edit-body 
                formGroupName="districtDirectiveBoard"
                class="plate-edit__body"
                [plateBody]="plateSubmission.value.districtDirectiveBoard"
                [bodyName]="'districtDirectiveBoard'">

            </app-plate-edit-body>

            <app-plate-edit-body 
                formGroupName="disciplinaryCourt"
                class="plate-edit__body"
                [plateBody]="plateSubmission.value.disciplinaryCourt"
                [bodyName]="'disciplinaryCourt'">

            </app-plate-edit-body>

        </div>
    
    
        <div class="plate-edit__btn-container">

            <button 
                type="button"
                class="btn plate-edit__btn plate-edit__btn--primary"
                (click)="onSubmitPlate()"
                [disabled]="(!plateSubmission.touched || !plateSubmission.valid)"
            >GUARDAR</button>

            <button
                type="button"
                class="btn plate-edit__btn plate-edit__btn--warning"
                (click)="onCancelSubmit()"
            >CANCELAR</button>

        </div>

    </form>

</div>