.plate-edit__heading {
    background: #373737;
    color: white;
    width: 60%;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.plate-edit__body {
    background: #1B252B;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.main-box {
    width: 95%;
    height: 100%;
    margin-top: 20px;
}

.plate-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}
