.flex-row {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.register-user__loading {
    display: inline;
    margin-left: 10px;
    display: inline-flex;
}

.register-user__loading--1,
.register-user__loading--2 {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.register-user__loading--1 {
    animation: loading .8s infinite;
}
.register-user__loading--2 {
    animation: loadingInverse .8s infinite;
    margin-left: 2px;
}

@keyframes loading {
    0% {
        background: transparent;
    }

    50% {
        background: #555;
    }

    100% {
        background: transparent;
    }
}

@keyframes loadingInverse {
    0% {
        background: #555;
    }

    50% {
        background: transparent;
    }

    100% {
        background: #555;
    }
}

.register-user__form {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 10px;
    width: 90%;
    max-width: 1300px;
    margin: auto;
    background-color: #f2f2f2;
    padding: 30px 0;
} 

.register-user__civ-search {
    width: 90%;
    max-width: 1300px;
    margin: 30px auto;
    transition: justify-content .25s;
}

.register-user__civ-search input,
.register-user__civ-search button {
    padding: 10px 20px;
    font-size: 1.2rem;
}

.register-user__public-key {
    text-align: center;
    width: 60%;
}

.register-user__public-key input {
    text-align: center;
    text-overflow: ellipsis;
}

.register-user__input-field,
.register-user__public-key,
.register-user__checkbox-field {
    margin: 35px 0 35px 0;
    font-size: 1.25rem;
}

.register-user__checkbox-field {
    background-color: var(--color-disabled-1);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 3px;
    box-shadow: 1px 1px 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.register-user__checkbox-field input {
    position: relative;
    height: 25px;
    width: 25px;
}

.register-user__public-key input[type="text"]:disabled,
.register-user__input-field input[type="text"]:disabled {
    background-color: var(--color-disabled-1);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 3px;
    font-size: 1.2rem;
    padding: 10px 20px;
    width: 95%;
    box-shadow: 1px 1px 5px;
    margin: 15px 0;
    color: black;
}

.register-user__input-field textarea:disabled {
    background-color: var(--color-disabled-1);
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 1.2rem;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 1px 1px 5px;
    margin: 15px;
    height: 170px;
    margin: 15px 0;
}

.register-user__input-field label,
.register-user__public-key label {
    margin-right: 10px;
}

.register-user__submit {
    margin: 40px 0 30px 0;
    padding: 0 40px;
    display: flex;
    justify-content: center;
}

.register-user__btn {
    background-color: #555;
    padding: 12px;
    margin: 0 15px;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 30%;
}

.register-user__messages {
    text-align: center;
    margin: 15px 0;
    font-size: 1.2rem;
}

@media only screen and (max-width: 770px) {
    .register-user__civ-search {
        display: flex;
        justify-content: center;
    }
}
