<div class="register-user">
    <div class="register-user__civ-search">

        
        <input 
        type="text" 
        name="civ-search" 
        id="" 
        placeholder="Ingresar CIV" 
        [(ngModel)]="civSearch">

        <button (click)="onSubmitSearch()">Buscar</button>

        <div *ngIf="loading" class="register-user__loading">
            <i class="register-user__loading--1"></i>
            <i class="register-user__loading--2"></i>
        </div>

    </div>

    <div class="register-user__form">

        <div class="register-user__messages">
            <h3 
            *ngIf="(msgState==='init')" 
            style="color: red">
            Ingresar CIV en panel de busqueda</h3>

            <h3 
            *ngIf="(msgState === 'wait fingerprint')" 
            style="color: green">
            Ingresar huella dactilar</h3>

            <h3 
            *ngIf="(msgState === 'success')" 
            style="color: green">
            Huella dactilar registrada exitosamente</h3>

            <h3 
            *ngIf="(msgState === 'saved')" 
            style="color: green">
            Usuario guardado exitosamente</h3>

            <h3 
            *ngIf="(msgState === 'empty search')" 
            style="color: red">
            Ingrese el civ a registrar</h3>

            <h3 
            *ngIf="(msgState === 'only numbers')" 
            style="color: red">
            Debe ingresar solo numeros</h3>

            <h3 
            *ngIf="(msgState === 'not found')" 
            style="color: red">
            El usuario no se encuentra registrado</h3>

            <h3 
            *ngIf="(msgState === 'server not found')" 
            style="color: red">
            No se pudo conectar con el servidor</h3>

            <h3 
            *ngIf="(msgState === 'external error')" 
            style="color: red">
            Problema con el servidor, intente de nuevo</h3>

            <h3 
            *ngIf="(msgState === 'searching')" 
            style="color: green">
            Buscando...</h3>

        </div>

        <div class="flex-row">
            <div class="col-1of2 col-1of2--1">

                <div class="register-user__input-field">
                    <label htmlFor="cedula">Cedula</label>

                    <input 
                    placeholder="Ej: 22924521" 
                    name="cedula" 
                    type="text"
                    [(ngModel)]="cedula" 
                    disabled/>

                </div>

                <div class="register-user__input-field">
                    <label htmlFor="name">Nombre</label>

                    <input 
                    placeholder="Ej: Robert Jose" 
                    name="name" 
                    type="text"
                    [(ngModel)]="name" 
                    disabled/>

                </div>

                <div class="register-user__input-field">
                    <label htmlFor="last-name">Apellido</label>

                    <input 
                    placeholder="Ej: Lopez Salazar" 
                    type="text" 
                    name="last-name"
                    [(ngModel)]="lastName" 
                    disabled>

                </div>
     
            </div>

            <div class="col-1of2">

                <div class="register-user__input-field">

                    <label htmlFor="vote-location">Centro de votacion</label>

                    <textarea 
                        name="location" 
                        [placeholder]="locationMsg"
                        id="" 
                        cols="30" 
                        rows="10"
                        [(ngModel)]="voteLocation" 
                        disabled>
                    </textarea> 

                </div>

                <div class="register-user__checkbox-field">
                    <label htmlFor="solvent">Solvente</label>

                    <input 
                    type="checkbox" 
                    name="solvent" 
                    id=""
                    [checked]="solvent"
                    disabled>

                </div>

            </div>

        </div>

        <div class="flex-row">

            <div class="register-user__public-key">
                <label htmlFor="public-key">Llave publica</label>
                <input 
                type="text" 
                name="" 
                id="public-key" 
                [(ngModel)]="publicKey"
                disabled>
                
            </div>

        </div>

        <div class="register-user__submit">
            <button 
            class="register-user__btn register-user__btn--commit"
            (click)="onConfirmSubmit()">Registrar</button>
            
            <button 
            class="register-user__btn register-user__btn--cancel"
            (click)="onConfirmCancel()">Cancelar</button>
        </div>
    </div>
</div>