.home__heading {
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2.7rem;
    margin-top: 80px;
    margin-bottom: 50px;
}

.view {
    min-width: 200px;
    width: 20%;
    cursor: pointer;
    outline: none;
}

.view, .view:visited {
    color: rgb(26, 26, 26);
    text-decoration: none;
    transition: transform .25s;
}

.view:hover {
    transform: scale(1.05);
}

.view--1 {
    position: relative;
    bottom: 70px;
}

.view--3 {
    position: relative;
    top: 70px;
}


.vertical-center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}

@media only screen and (max-width: 1300px) {
    .view {
        width: 30%;
    }
}

@media only screen and (max-height: 850px) {
    .view--1, .view--3 {
        position: static;
    }
}

@media only screen and (max-width: 690px) {

    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    
    .vertical-center {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0);
    }

    .view--1, .view--3 {
        position: static;
    }

    .view {
        margin-bottom: 90px;
        width: 80%;
    }

    .home__heading {
        margin-top: 60px;
    }
}