<div class="home">

  <div class="login">
    
    <p class="login__heading">LOG IN</p>
  
    <form class="login__form" (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="login__box">

            <div class="login__input-group">
                <label class="login__input-label" for="email">Email</label>
                <input
                id="email" 
                class="login__input"
                name="email"
                type="email"  
                placeholder="user@account.com"
                ngModel
                required
                email
                #email="ngModel"
                />
                <p *ngIf="(!email.valid && email.touched)" class="login__input-errors">Please enter a valid email</p>
            </div>

            <div class="login__input-group">
                <label class="login__input-label" for="password">Password</label>
                <input 
                id="password"
                class="login__input"
                name="password"
                type="password"
                ngModel
                required
                />
            </div>

            <!-- <div class="login__error-box">
                <img 
                    class="login__img login__img--warning"
                    alt="warning" 
                    width="20" 
                    height="20"
                />
                
                <p class="paragraph paragraph--error">Error message</p>                            
                
            </div> -->

            <div class="login__link-container">
                <a class="login__link" href="#">Forgot your password?</a>
            </div>

            <div class="login__buttons">

                <button
                    class="login__btn login__btn--primary"
                    type="submit"
                    [disabled]="(!f.touched || !f.valid)"
                    >LOG IN
                </button>
            
        
                <button 
                    class="login__btn login__btn--secondary"
                    >SIGN UP
                </button>
        
            </div>

        </div> 
  
    </form>
    
  </div>

</div>