<div class="home">

  <h1 class="home__heading">Choose an option:</h1>

  <div class="flex-container vertical-center">
    
    <app-home-option
      class="view view--1"
      [imgSrc]="'assets/svg/ballot.svg'"
      [headingText]="'Vote'"
      [routerLink]="['/vote']">
    ></app-home-option>

    <app-home-option
      class="view"
      [imgSrc]="'assets/svg/admin.svg'"
      [headingText]="'Admin'"
      [routerLink]="['/plates']"
    ></app-home-option>

    <app-home-option
      class="view view--3"
      [imgSrc]="'assets/svg/results.svg'"
      [headingText]="'Results'"
    ></app-home-option>

  </div>
  
</div>